.svg-LoginOut {
  fill: #8390a2;
}

.svg-Logo {
  fill: #8390a2;
}

.svg-TimeLine,
.svg-Home,
.svg-Money {
  fill: #aab3c0;
}
.svg-ArrowRight {
  fill: #fff;
}

.svg-Error {
  fill: #f9ca24;
}

@media (min-width: 748px) {
  .svg-Logo {
    fill: #3a5374;
  }
}

@media (min-width: 1192px) {
}

.svg-Remove,
.svg-Edit {
  fill: #3a5374;
}
