/* .header {
  box-shadow: 1.5px 2.598px 3px 0px rgba(1, 1, 0, 0.12); 
} */

.header-center {
  /* max-width: 1192px;
  margin: 0 auto;

  align-items: center; */
  padding: 7px 8px;
  background-color: #284060;
  display: flex;
  justify-content: space-between;
}

.header__menu {
  list-style: none;
  display: flex;
  align-items: center;
}
.header__item {
  display: inline-block;
}
.header__item.separator {
  display: none;
}
.header__item:not(:last-child) {
  margin-right: 10px;
}
.header__link {
  color: #8390a2;
  font-size: 15px;
}
.header__logo {
  font-family: "BauhausC Medium";
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #8390a2;
}
.header__logo > *:first-child {
  margin-right: 10px;
}
.header__mobile-submenu {
  display: flex;
  justify-content: center;
  padding: 7px 8px;
  background-color: #3a5374;
}
.header__mobile-submenu-item {
  display: inline-block;
  padding: 7px 10px;
  background-color: #2a4262;
  border-radius: 5px;
}
.header__mobile-submenu-item:hover {
  background-color: #66778e;
}
.header__mobile-submenu-item:hover g {
  fill: #ffffff;
}
.header__mobile-submenu-item:not(:last-child) {
  margin-right: 13px;
}

@media (min-width: 748px) {
}
@media (min-width: 1192px) {
}
